snippet lang "{-# LANGUAGE WHATEVER #-}" b
{-# LANGUAGE $1 #-}
endsnippet

snippet haddock-module "Haddock Module"
{-|
Module      : $1
Description : $2
Copyright   : (c) Mo Kweon
License     : ${3:MIT}
Maintainer  : kkweon@gmail.com
Stability   : experimental
Portability : POSIX

${4:Here is a longer description of this module, containing some
commentary with @some markup@.}
-}
endsnippet
