snippet rfc "React Functional Component"
import React from 'react'

export const ${1:Text} = () => {
  return <div>$1</div>
}
endsnippet

snippet rcc "React Class Component"
import React from 'react'

export class ${1:Comp} extends React.Component {
  render() {
    return <div>$1</div>
  }
}
endsnippet
